---
import Layout from '../layouts/Layout.astro'
import { getPostsByLanguage } from '../lib/data'
import { astroI18n, t } from 'astro-i18n'
import { Image } from 'astro:assets'
import forPublicImage from "../assets/group_22.png"
import forStudentsImage from "../assets/group_23.png"

import Header from '../components/Header.astro'
import Post from '../components/Post.astro'
import Card from '../components/Card.astro'
import Footer from '../components/Footer.astro'

const posts = await getPostsByLanguage(astroI18n.locale)
---

<Layout title="CSIRT">
  <Header />
  <main class="max-w-4xl m-auto px-2">

    <section class="mt-14" aria-labelledby="cyber-security-title">
      <h2 class="text-primary font-bold text-2xl text-center" id="cyber-security-title">
        {`${t('content.cybersecurity.title').split(' ')[0]} `} <span class="text-secondary">{t('content.cybersecurity.title').split(' ').slice(1).join(' ')}</span>
      </h2>
      <p class="text-center max-w-xl mx-auto mt-7">
        {t('content.cybersecurity.description')}
      </p>

      <div class="grid grid-cols-3 gap-8 mt-12">
        <Card
          title='Ochrana univerzitnej siete'
          description='Zabezpecujeme monitorovanie fakultnej siete a bezpecne kyberneticke prostredie'
          moreText='O nas'
          moreHref='#'
        />
        <Card
          title='Informacie a vystrahy'
          description='Zabezpecujeme monitorovanie fakultnej siete a bezpecne kyberneticke prostredie'
          moreText='Bezpecnostne varovania'
          moreHref='#'
        />
        <Card
          title='Zdielame vedomosti'
          description='Zabezpecujeme monitorovanie fakultnej siete a bezpecne kyberneticke prostredie'
          moreText='Zistite viac o nasej vyuke'
          moreHref='#'
        />
      </div>
    </section>

    <section class="mt-14" aria-labelledby="what-is-csirt-title">
      <h2 class="text-primary font-bold text-2xl text-center" id="what-is-csirt-title">
        {`${t('content.aboutcsirt.title')} `} <span class="text-secondary">CSIRT?</span>
      </h2>
      <p class="max-w-2xl mx-auto text-justify mt-4">
        {t('content.aboutcsirt.description')}
      </p>
      <div class="flex justify-evenly mt-12">
        <Image src={forPublicImage} alt="for public image" width="350" />
        <Image src={forStudentsImage} alt="for students image" width="350" />
      </div>
    </section>



    <h1 class="text-2xl font-semibold mb-4">{t('news')}</h1>
    <div>
      {
        posts.flatMap((post) =>
          post.translations.map((translation) => (
            <Post
              title={translation.title}
              body={post.slug}
              href={`/news/${post.slug}`}
            />
          )),
        )
      }
    </div>
  </main>
  <Footer />
</Layout>
